# 
ENVOIRMENT=''

# Allowed hosts in your app
ALLOWED_HOSTS=''

# Django app secret key
SECRET_KEY=''

# Database settings
MYSQL_DATABASE=''
MYSQL_USER=''
MYSQL_PASSWORD=''
MYSQL_ROOT_PASSWORD=''
# Use 'db' if you are using docker
DATABASE_HOST=''
DATABASE_PORT=''
